.container {
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 300px;
    margin: 1.5em;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleFilme {
    width: 20px;
}

.capa {
    width: 300px;
    height: 450px;
}

.container h2,
.favoritar {
    font-size: 20px;
    padding: 0 1em;
}

.favoritar {
    width: 20px;
}

.link {
    text-decoration: none;
    color: var(--preto);
    text-align: left;
}